
div{
    text-align: center; padding-bottom: 40%;
}
img{
    border-radius: 10%; width: 150px;

}
h1,h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , sans-serif;
}